<header>
<nav>
<img src="menu/bichon.png" width="238" height="274" border="0" usemap="#MapMap">
<img src="menu/name.png" width="475" height="230">
<ul class="dropdown">
  {% for item in site.locales[page.locale].menu %}
  <li>
    <a href="{% if item.url %}{{item.url}}{% else %}#{% endif %}">{{item.title}}</a>
    {% if item.submenu %}
    <ul class="sub_menu">
      {% for subitem in item.submenu %}
      <li>
        <a href="{{subitem.url}}">{{subitem.title}}</a>
      </li>
      {% endfor %}
    </ul>
    {% endif %}
  </li>
  {% endfor %}
</ul>

</nav>
</header>
