<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>.:Pride of Tomaz:. Bichon Frise kennel</title>

<link rel="stylesheet" type="text/css" href="css/style.css" />

<!--[if lt IE 9]>
	<link rel="stylesheet" type="text/css" href="css/ie.css" />
<![endif]-->


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="/js/jquery.touchSwipe.min.js"></script>
<script src="/js/jquery.mousewheel-3.0.6.pack.js"></script>
<script src="/js/jquery.fancybox.pack.js"></script>
<script src="/js/main.js"></script>

