<!DOCTYPE html>
<html>
  <head>
    <meta charset=utf-8 />
    <title>{{ page.title }}</title>
    {% include head.html %}
  </head>
  <body>
    {% include header.html %}
    {{ content }}
    {% include footer.html %}
  </body>
</html>
