<!DOCTYPE html>
<html>
  <head>
    <meta charset=utf-8 />
    <title>{{ page.title }}</title>
    {% include head.html %}
  </head>
  <body>
    {% for image in site.images %}

    <!-- href points to real image, src to thumbnail -->
    <a class="gallery-image" rel="gallery1" href="{{image.url}}">
      <img src="{{image.url}}" alt="{{image.caption}}"/>
    </a>
    {% endfor %}
  </body>
</html>
